//
// HxTag - Custom Elements for Haxe-JS
// https://github.com/porfirioribeiro/HxTag/blob/master/LICENSE

html /deep/ hx-icon
hx-icon //deep don't work in firefox
  display inline-block
  vertical-align middle
  background-repeat no-repeat
  fill currentcolor
  position relative
  height 24px
  width 24px
