//
// HxTag - Custom Elements for Haxe-JS
// https://github.com/porfirioribeiro/HxTag/blob/master/LICENSE

$menuOpenBgColor=white
$menuItemHoverColor=darkgray
$menuShadow=0 6px 13px rgba(0, 0, 0, 0.18)
//0 6px 12px rgba(0,0,0,.175)

hx-menu-bar
	user-select none
	display block
	position relative
	margin 0px
	top 0px
	left 0px
	//Style
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 7px 10px;

	& > span
		padding 2px 5px
		position relative
		text-align left
		vertical-align middle
		color #383838

		&:hover,&.opened
			border-radius 3px
			background $menuOpenBgColor

		&.opened
			border-radius 3px 3px 0px 0px
			border-bottom 1px solid $menuOpenBgColor
			box-shadow $menuShadow

	& hx-menu.show
		animate fadeIn 0.3s
	& hx-menu.hide
		animate fadeOut 0.3s

hx-menu
hx-menu-bar
hx-menu-item
hx-menu-separator
	cursor default
	user-select none

hx-menu
	display none
	position absolute
	background $menuOpenBgColor
	box-shadow $menuShadow


	&.show
		display block

	&.hide
		//display none

	hx-menu-item
		display block
		color #383838

		padding 3px 10px 3px 26px

		&:hover
			background linear-gradient(top, lighten($menuItemHoverColor,50%) 0%, $menuItemHoverColor 100%);

	hx-menu-separator
		margin 9px 0px
		height 1px
		display block
		background #d0d0d0
		//border 1px solid darkgray
		//border-bottom-color black
