//
// HxTag - Custom Elements for Haxe-JS
// https://github.com/porfirioribeiro/HxTag/blob/master/LICENSE

my-tag
    color red
    background-color green
    border 1px solid

#attachment
    color blue
    background-color green
    fill white
